name: Lint
on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: "0 9 1 * *"
  workflow_dispatch:
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v5
      - name: Lint
        uses: DavidAnson/markdownlint-cli2-action@v19
        with:
          globs: '**/*.md'
